{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | Salidas al Exterior{% endblock %}

{% block  page_breadcrumb %}
    {{ parent() }}
    <li>
        {% if '/exit/departure/index' in app.request.getPathInfo() %}
            <span>Salidas al Exterior</span>
        {% else %}
            <a href="{{ path('departure_index') }}" ><span>Salidas al Exterior</span> </a> <i class="fa fa-circle"></i>
        {% endif %}
    </li>
{% endblock %}

{% block page_title %}
    Salidas
{% endblock %}

{% block page_dashboard %}

{% endblock %}