{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | Salida{% endblock %}

{% block  page_breadcrumb %}
    {{ parent() }}
    <li>
        <span>Salida</span>
        <i class="fa fa-circle"></i>
    </li>
{% endblock %}

{% block page_title %}
    Salida
{% endblock %}

{% block page_dashboard %}

{% endblock %}