{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | Instituci贸n Extranjera{% endblock %}

{% block  page_breadcrumb %}
    {{ parent() }}
    <li>
    {% if '/institution/index' in app.request.getPathInfo() %}
        <span>Instituci贸n Extranjera</span>
    {% else %}
        <a href="{{ path('institution_index') }}" ><span>Instituci贸n Extranjera</span> </a> <i class="fa fa-circle"></i>
    {% endif %}
    </li>
{% endblock %}

{% block page_title %}
    Instituci贸n Extranjera
{% endblock %}

{% block page_dashboard %}

{% endblock %}

