header img{
    width: 100%;
    height: auto;
}

footer .address-footer{
    float: left;
    width: 30%;
    padding-left: 10px;
    color: #777;
}
footer .image-footer{
    float: left;
    width: 30%;
}
footer .contact-footer{
    float: left;
    width: 30%;
    padding-left: 10px;
    color: #777;
}
footer .pagenumber-footer{
    float: left;
    width: 10%;
}

.table th{
    font-weight: bold !important;
    font-size: 16px !important;
}
.table td{
    font-size: 16px !important;
}
.table th.aling-center,
.table td.aling-center{
    text-align: center !important;
}