{% extends "DRIUserBundle::layout.html.twig" %}

{% block page_title %}<title>SIGESDRI | Configuración de cuenta</title>{% endblock page_title %}

{% block fos_user_content %}
{% include "DRIUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
