/**
 * Spanish translation
 *  @name Spanish
 *  @anchor Spanish
 *  @author Giovanni Ariza, Aristobulo Gomez and Roberto Poo
 */
{
    // metronic spesific
    "metronicGroupActions": "_TOTAL_ registros seleccionados:  ",
    "metronicAjaxRequestGeneralError": "No se pudo completar la petición. Por favor compruebe la conección",

    "sProcessing":     "Procesando...",
    "sLengthMenu":     "<span class='seperator'>&nbsp;|&nbsp;</span>Mostrando _MENU_ registros",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "<span class='seperator'>&nbsp;</span>de _TOTAL_",
    "sInfoEmpty":      "No se encontraron resultados para mostrar",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
        "sFirst":    "Primero",
        "sLast":     "Último",
        "sNext":     "Siguiente",
        "sPrevious": "Anterior",
        "page":      "Página",
        "pageOf":    "de"
    },
    "oAria": {
        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    }
}
