<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My PDF</title>
</head>
<body>
<header style="border-bottom: 1px #0097c5 solid;">
    <img src="{{ absolute_url(asset('assets/pdf/header_doc.png')) }}" alt="Logo" />
</header>
</body>
</html>