{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | Convenios{% endblock %}

{% block  page_breadcrumb %}
    {{ parent() }}
    <li>
    {% if '/agreement/index' in app.request.getPathInfo() %}
        <span>Convenios</span>
    {% else %}
        <a href="{{ path('agreement_index') }}" ><span>Convenios</span> </a> <i class="fa fa-circle"></i>
    {% endif %}
    </li>
{% endblock %}

{% block page_title %}
    Convenios
{% endblock %}

{% block page_dashboard %}

{% endblock %}

