{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | Facultad{% endblock %}

{% block  page_breadcrumb %}
    {{ parent() }}
    <li>
        <span>Facultad</span>
        <i class="fa fa-circle"></i>
    </li>
{% endblock %}

{% block page_title %}
    Facultad
{% endblock %}

{% block page_dashboard %}

{% endblock %}