{% extends "DRIUserBundle::layout1.html.twig" %}

{% block page_title %}<title>SIGESDRI | Pantalla Bloqueada </title>{% endblock page_title %}

{% block fos_user_content %}
    {{ include('DRIUserBundle:Security:lock_content.html.twig') }}
{% endblock fos_user_content %}
