<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My PDF</title>
</head>
<body>
<header>
    <img src="{{ absolute_url(asset('assets/pages/media/profile/avatar.png')) }}" alt="Logo" height="180" />
</header>
</body>
</html>
