{% extends "FOSUserBundle::layout.html.twig" %}

{% block page_title %}<title>SIGESDRI | Restaurar Contraseña</title>{% endblock page_title %}

{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
