{% extends 'DRITramitesBundle:Pasaporte:layout.Passport.html.twig' %}

{% block page_title %}
    {{ parent() }}
    <small>portada</small>
{% endblock %}

{% block page_dashboard %}
    <p>Portada de pasaportes</p>
{% endblock %}