{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | Pasaportes{% endblock %}

{% block  page_breadcrumb %}
    {{ parent() }}
    <li>
        <span>Pasaportes</span>
        <i class="fa fa-circle"></i>
    </li>
{% endblock %}

{% block page_title %}
    Pasaportes
{% endblock %}

{% block page_dashboard %}

{% endblock %}

{% block page_custom_scrpt %}
    <script type="text/javascript">
        jQuery(document).ready(function ($)
        {
            $('#pasaporte_estadoPas input, #pasaporte_tipoPas input, input .check-all, tbody input .check-input-row ').iCheck({
                checkboxClass: 'icheckbox_square-grey',
                radioClass: 'iradio_square-grey',
                increaseArea: '20%' // optional
            });

            {% if pasaporte is defined %}
                {% if pasaporte.estadoPas is defined == 'BAJ' %}
                $('#is-baja').css('display', 'block');
                $('#pasaporte_causaBaja, #pasaporte_fechaBaja').removeProp('disabled');
                {% else %}
                $('#is-baja').css('display', 'none');
                $('#pasaporte_causaBaja, #pasaporte_fechaBaja').attr('disabled', '');
                {% endif %}
            {% endif %}

            $('#pasaporte_estadoPas_2').on('ifChecked', function(){
                $('#is-baja').slideDown() ;
                $('#pasaporte_causaBaja, #pasaporte_fechaBaja').removeProp('disabled') ;
            });
            $('#pasaporte_estadoPas_2').on('ifUnchecked', function(){
                $('#is-baja').slideUp() ;
                $('#pasaporte_causaBaja, #pasaporte_fechaBaja').attr('disabled', '');
            });

            $('input.check-all').on('ifChecked', function() {
                $('tbody input.check-input-row').iCheck('check');
                $('#bulkSubmitBtn').removeProp('disabled');
            });
            $('input.check-all').on('ifUnchecked', function() {
                $('tbody input.check-input-row').iCheck('uncheck');
                $('#bulkSubmitBtn').attr('disabled', '');
            });

            $('tbody input.check-input-row').each(function () {
                var $thisInput = $(this);
                $thisInput.on('ifChecked', function () {
                    alert('OK');
                    bulkSubmitBtnManage();
                });
            });


            /*var $checked = false;
            $('tbody input.check-input-row').each(function() {
                var $thisInput = $(this);
                $thisInput.on('ifChecked', function() {
                    $checked = true;
                    $('#bulkSubmitBtn').removeProp('disabled');
                alert($checked);
                });
                if($checked){
                }else{
                    $('#bulkSubmitBtn').attr('disabled', '');
                }
            });*/
        });
    </script>
    <script type="text/javascript">
        //Checks if at least one checkbox is selected.
        function bulkSubmitBtnManage()
        {
            jQuery(document).ready(function ($) {
                var $checked = false;

                $('input.check-input-row').each(function () {
                    var $thisInput = $(this);
                    $thisInput.on('ifChecked', function () {
                        $checked = true;
                    });
                    alert($checked);
                });

                if ($checked) {
                    $('#bulkSubmitBtn').removeProp('disabled');
                } else {
                    $('#bulkSubmitBtn').attr('disabled', '');
                }
            });
        }
    </script>
{% endblock %}